<script setup>
import { reactive, computed } from 'vue'
import prism from 'prismjs'

import 'prismjs/themes/prism-okaidia.min.css'

const state = reactive({
  selected: null,
})

const input = `
const stack = secretStack({ caps }) 
  .use(require('ssb-db2')) 
  // Installs a database (log) where we persist messages.
  // Also provides RPC functions remote peers can call for requesting messages from our log - this is the fundamental of replication
  .use(require('ssb-friends')) 
  // Allows us to publish "follow" and "block" messages, and answer questions about who we currently follow, and who our friends follow.
  // This helps inform who to replicate.
  .use(require('ssb-ebt')) 
  .use(require('ssb-replication-scheduler')) 
  .use(require('ssb-conn')) 

const ssb = stack()
// start the stack up!
`
const lines = input.split('\n')
const COMMENT_START_REGEX = /^\s*\/\//
const isComment = (line) => line.match(COMMENT_START_REGEX)

const output = []
while (lines.length) {
  const line = {
    code: lines.shift(),
    comments: []
  }
  while (lines[0] && isComment(lines[0])) {
    const comment = lines.shift().replace(COMMENT_START_REGEX, '')
    line.comments.push(comment)
  }
  output.push(line)
}

const code = output.map(line => line.code).join('\n')

prism.hooks.add('after-tokenize', obj => {
  obj.tokens.forEach(token => {
    if (token.type === 'function' && token.content === 'require') {
      token.type = 'function-require'
    }
  })
})
const prettyLines = prism.highlight(code, prism.languages.javascript, 'javascript')
  .split('\n')
  .map(addRequire)

const comments = computed(() => {
  if (!state.selected) return []
  return output[state.selected].comments
})

function addRequire (line) {
  return line.replace(
    '<span class=\"token function\">require</span>',
    '<span class=\"token function require\">require</span>'
  )
}
const lineClass = i => state.selected === i ? 'line active' : 'line'
</script>

<template>
  <div class='container'>
    <div class='code'>
      <div v-for='(line, i) of prettyLines' :key='i'
        :class='lineClass(i)' 
        @mouseover='state.selected = i'
        @mouseout='state.selected = null'
      >
        <pre v-if="line === ''"><code> </code></pre>
        <pre v-else><code v-html="line" class='language-javascript' /></pre>
      </div>
    </div>

    <div :class='`description ${comments.length ? "active" : ""}`'>
      <p v-for="(line, i) of comments" :key='i'>
        {{line}}
      </p>
    </div>
  </div>
</template>

<style scoped>
span {
  background: red !important;
}

.container {
  display: grid;
  grid-template-columns: 26rem 30rem;
}

div.line {
  padding: 0 1.4rem 0 5px;
  display: grid;
  grid-template-columns: auto 1fr;
}
div.line:hover {
  background: rgba(255, 0, 255, 0.1);
  cursor: pointer;
}
div.line.active {
  background: rgb(94, 0, 94);
}

div.line pre {
  padding: 0;
  margin: 0;
  background: none;
}

.description {
  font-family: Roboto, sans-serif;
  padding: 10px;

  color: #555;
  border: 5px solid rgba(255, 0, 255, 0);
  border-radius: 1rem;
}
.description.active {
  background: rgba(255,255,255, 0.9);
  border-color: rgb(94, 0, 94);
}
.description p {
  margin-bottom: .8rem;
}
</style>

// NOTE - v-html content must be hit by a non-scoped style block
// https://vuejs.org/api/built-in-directives.html#v-html
<style>
.token.function-require {
  color: hotpink;
}
</style>
